
//= require jquery-ui/themes/ui-darkness/jquery-ui

$body-bg: #151413;
$text-color: #e9e8e7;
$link-color: #eeb;

$btn-default-bg: #353433;
$btn-default-color: #e9e8e7;

$input-bg: #090807;
$input-border: #8b8685;
$input-color: #eba;
$glow: #59f;
$input-group-addon-bg: #070605;

$tab-bar-height: 44px;


@import "bootstrap";
@import "compass";

.tabs-bar {
  $height: $tab-bar-height - 8px;
  @include horizontal-list;
  position: fixed; top: 0; left: 0; right: 0;
  height: $height + 8px;
  background: #454443;
  padding-top: 8px;
  padding-left: 24px;
  box-shadow: inset 0 -10px 1px -9px $glow;
  z-index: 10000;
  li {
    height: $height;
    line-height: $height;
  }
  a {
    display: block;
    background: #252729;
    padding: 0 12px;
    @include border-top-radius(8px);
    box-shadow: inset 0 -10px 1px -9px $glow;
  }
  li.active a {
    background: #151413 linear-gradient(#555453, $body-bg);
    box-shadow: 0 0 1px 1px $glow;
    color: white;
    font-weight: bold;
  }
}

.room-info {
  font-weight: normal;
}

.main {
  margin-top: $tab-bar-height;
}

.footer {
  @extend .text-center;
  @extend .text-muted;
  padding: 24px 0 32px;
}


.setting-section {
  h2 {
    font-size: 1.5em;
    color: #aba6a5;
  }
  &:not(:first-child) {
    border-top: 1px solid #353433;
    margin-top: 1em;
  }
}

@mixin nub($background, $color) {
  .nub-container {
    display: block;
    height: 12px;
  }
  .nub {
    display: inline-block;
    border-color: $background $background $color;
    border-style: solid;
    border-width: 0 12px 12px;
    visibility: hidden;
  }
}
.content-choice {
  @include inline-block-list;
  @include nub($body-bg, #454443);
  text-align: center;
  li {
    margin: 0 8px;
    vertical-align: top;
  }
  a {
    display: block;
    width: 120px;
    text-align: center;
    text-decoration: none;
    color: #8b8685;
    padding-top: 3px;
  }
  .demo {
    display: block;
    background: black;
    border: 3px solid #454443;
    font: bold 25px Helvetica, sans-serif;
    line-height: 72px;
    color: white;
  }
  li.active {
    a {
      color: white;
      font-weight: bold;
    }
    .demo {
      border-color: #8b8685;
    }
    .nub {
      visibility: visible;
    }
  }
  a:focus {
    outline: none;
    .demo {
      box-shadow: 0 0 3px 2px $glow;
    }
  }
}

.content-settings {
  @extend .well;
  background: #090807;
  border-color: #454443;
  border-width: 2px;
}


.ui-slider-container {
  padding-top: 11px;
}

.display {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.display-content {
  position: absolute;
  white-space: pre;
  top: 50%;
  left: 50%;
  text-align: center;
  line-height: 1;
}

.preview-container {
  cursor: pointer;
  position: relative;
  width: 256px;
  height: 144px;
  background: black;
  @include box-sizing(content-box);
  margin: 0 auto;
  border: 5px solid #8b8685;
}

.the-sign {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10001;
  background: black;
  cursor: none;
}

.seizure-warning {
  margin-top: 6px;
}

.remote-connect {
  margin: 0 auto;
  max-width: 512px;
  padding: 20px;
  margin-top: 24px;
}

input.room-id {
  font-size: 32px;
  height: 48px;
  text-align: center;
}

.client-thumbnails {
  background: #252423 linear-gradient($body-bg, #353433);
  padding: 8px 12px 0;
  text-align: center;
  h2 {
    margin: 0 0 1em;
    font-size: 14px;
    color: #9b9695;
    font-weight: normal;
    strong {
      color: #bbb6b5;
    }
  }
}

.client-preview-container {
  position: relative;
  width: 256px;
  height: 144px;
  background: black;
  @include box-sizing(content-box);
  margin: 0 auto;
  border: 4px solid #454443;
  box-shadow: 0 1px 7px black;
}

.remote-instructions {
  @extend .text-center;
  @extend .text-muted;
  padding: 18px 0 32px;
  color: #ccc;
  h3 {
    color: #eee;
    margin-top: 0;
  }
}

.client-thumbnail {
  @include nub(transparent, $body-bg);
  display: inline-block;
  vertical-align: bottom;
  margin: 0 8px;
  cursor: pointer;
  opacity: 0.5;
  &.displaying {
    opacity: 1;
  }
  h3 {
    font: 12px Helvetica, sans-serif;
    text-align: center;
    margin: 4px 0 12px;
    position: relative;
    color: #8b8685;
  }
  &.active {
    .client-preview-container {
      border-color: #8b8685;
    }
    h3 {
      font-weight: bold;
      color: white;
    }
    .nub {
      visibility: visible;
    }
  }
}

.save-button-container {
  padding-top: 1em;
}

.nudge {
  padding-top: 0.8em;
}

@media (max-width: 479px) {
  .room-info {
    display: none;
  }
}

.btn-default.active {
  background: #454443;
}
