
    <div class="setting-section">
      <div class="container">
        <h2>Content</h2>
        <ul class="content-choice">
          <li ng-class="{ active: settings.content == 'text' }"
            ><a href="javascript://spacet.me" ng-click="settings.content = 'text'"
              ><span class="demo">Text</span>Arbitary Text</a><span class="nub-container"><span class="nub"></span></span></li>
          <li ng-class="{ active: settings.content == 'time' }"
            ><a href="javascript://spacet.me" ng-click="settings.content = 'time'"
              ><span class="demo">12:34</span>Time</a><span class="nub-container"><span class="nub"></span></span></li>
        </ul>
        <div class="content-settings" ng-show="settings.content == 'text'">
          <div class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-3">Text to Display</label>
              <div class="col-sm-6">
                <textarea class="form-control" ng-model="settings.text"></textarea>
                <p class="help-block">Arbitary HTML content allowed here</p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-settings" ng-show="settings.content == 'time'">
          <div class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-3">Mode</label>
              <div class="col-sm-9">
                <label class="radio-inline"><input type="radio" ng-model="settings.timeMode" value="clock"> Clock</label>
                <label class="radio-inline"><input type="radio" ng-model="settings.timeMode" value="stopwatch"> Stopwatch</label>
                <label class="radio-inline"><input type="radio" ng-model="settings.timeMode" value="countdown"> Countdown</label>
              </div>
            </div>
            <div ng-show="settings.timeMode == 'stopwatch'" ng-controller="StopwatchController">
              <div class="form-group">
                <label class="control-label col-sm-3">Stopwatch</label>
                <div class="col-sm-9">
                  <button ng-click="startStop()" class="btn btn-primary" ng-bind="settings.stopwatchRunning == null ? 'Start' : 'Stop'"></button>
                  <button ng-click="reset()" class="btn btn-danger">Reset</button>
                </div>
              </div>
            </div>
            <div ng-show="settings.timeMode == 'countdown'" ng-controller="CountdownController">
              <div class="form-group">
                <label class="control-label col-sm-3">Countdown</label>
                <div class="col-sm-3 col-md-2">
                  <div class="input-group">
                    <input type="text" ng-model="duration" class="form-control">
                    <span class="input-group-addon">minutes</span>
                  </div>
                </div>
                <div class="col-sm-6">
                  <button ng-click="set()" class="btn btn-primary">Set Timer</button>
                  <button ng-click="reset()" class="btn btn-danger">Reset</button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">Time Format</label>
              <div class="col-sm-9">
                <div class="radio" time-format="hms" time-format-name="H:MM:SS" settings="settings"></div>
                <div class="radio" time-format="ms" time-format-name="M:SS" settings="settings"></div>
                <div class="radio" time-format="minutes" time-format-name="Total Minutes" settings="settings"></div>
                <div class="radio" time-format="seconds" time-format-name="Total Seconds" settings="settings"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="setting-section">
      <div class="container">
        <h2>Flashing</h2>
        <div class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-3">Flash</label>
            <div class="col-sm-6">
              <div class="checkbox">
                <label><input ng-model="settings.flash" type="checkbox">
                  Turn on flashing to get <em>attention</em>!</label>
              </div>
            </div>
          </div>
          <div class="form-group" ng-show="settings.flash">
            <label class="control-label col-sm-3">Flashing Rate</label>
            <div class="col-sm-6 ui-slider-container">
              <div ui-slider min="12" max="900" ng-model="settings.flashRate"></div>
            </div>
            <p class="col-sm-1 form-control-static text-right">
              <strong>{{settings.flashRate}}</strong><span class="text-muted">/minute</span>
            </p>
            <div class="seizure-warning col-sm-offset-3 col-sm-6 text-center text-muted" ng-show="settings.flashRate > 180">
              <a class="text-muted" href="https://en.wikipedia.org/wiki/Photosensitive_epilepsy"><em>This may cause seizures — use at your own risk!</em></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="setting-section" ng-if="!self.display">
      <div class="container">
        <h2>Preview</h2>
        <div title="Click to save" sign-display="settings" ng-click="save()" ng-style="previewSize(settings)" class="preview-container"></div>
      </div>
    </div>

    <div class="setting-section" ng-if="!self.display">
      <div class="container">
        <h2>Appearance</h2>
        <div class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-3">Font Family</label>
            <div class="col-sm-4">
              <input class="form-control" ng-model="settings.fontFamily">
            </div>
            <div class="col-sm-5">
              <div class="btn-group">
                <button type="button" ng-class="{
                    btn: true,
                    'btn-default': true,
                    active: settings.fontBold
                  }"
                  ng-click="settings.fontBold = !settings.fontBold">Bold</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

