---
title: Flashing Sign
---

<div class="main" ng-app="sign">
  <ul class="tabs-bar">
    <li class="active"><a href="#">Settings</a></li>
    <li><a href="#">Display</a></li>
    <li><a href="#">Remote (soon)</a></li>
  </ul>
  <div class="content">

    <div class="setting-section">
      <div class="container">
        <h2>Content</h2>
        <ul class="content-choice">
          <li class="active"><a href="#"><span class="demo">Hello</span>Arbitary Text</a><span class="nub-container"><span class="nub"></span></span></li>
          <li><a href="#"><span class="demo">12:34</span>Time</a><span class="nub-container"><span class="nub"></span></span></li>
        </ul>
        <div class="content-settings">
          <div class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-3">Text to Display</label>
              <div class="col-sm-6">
                <textarea class="form-control"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="content-settings">
          <div class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-3">Mode</label>
              <div class="col-sm-9">
                <label class="radio-inline"><input type="radio"> Clock</label>
                <label class="radio-inline"><input type="radio"> Stopwatch</label>
                <label class="radio-inline"><input type="radio"> Timer</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="setting-section">
      <div class="container">
        <h2>Flashing</h2>
      </div>
      <div class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-3">Flashing Rate</label>
          <div class="col-sm-6">
            <div ui-slider min="12" max="600" ng-model="wtf"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<%= javascript_include_tag "all" %>


