---
title: Flashing Sign
---

<div ng-app="sign" ng-controller="MainController" on-window-resize="onresize(width, height)">

<div class="main" ng-show="!self.display">
  <ul class="tabs-bar">
    <li ng-class="{ active: main.page == 'settings' }"><a href="javascript://" ng-click="main.page = 'settings'">Settings</a></li>
    <li><a href="javascript://" ng-click="self.display = true">Display</a></li>
    <li ng-class="{ active: main.page == 'remote' }"><a href="javascript://" ng-click="main.page = 'remote'">Remote</a></li>
  </ul>
  <div class="content" ng-controller="SettingsController" ng-if="main.page == 'settings'">

    <div class="setting-section">
      <div class="container">
        <h2>Content</h2>
        <ul class="content-choice">
          <li ng-class="{ active: settings.content == 'text' }"
            ><a href="javascript://spacet.me" ng-click="settings.content = 'text'"
              ><span class="demo">Hello</span>Arbitary Text</a><span class="nub-container"><span class="nub"></span></span></li>
          <li ng-class="{ active: settings.content == 'time' }"
            ><a href="javascript://spacet.me" ng-click="settings.content = 'time'"
              ><span class="demo">12:34</span>Time</a><span class="nub-container"><span class="nub"></span></span></li>
        </ul>
        <div class="content-settings" ng-show="settings.content == 'text'">
          <div class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-3">Text to Display</label>
              <div class="col-sm-6">
                <textarea class="form-control" ng-model="settings.text"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="content-settings" ng-show="settings.content == 'time'">
          <div class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-3">Mode</label>
              <div class="col-sm-9">
                <label class="radio-inline"><input type="radio"> Clock</label>
                <label class="radio-inline"><input type="radio"> Stopwatch</label>
                <label class="radio-inline"><input type="radio"> Timer</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="setting-section">
      <div class="container">
        <h2>Flashing</h2>
        <div class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-3">Flash</label>
            <div class="col-sm-6">
              <div class="checkbox">
                <label><input ng-model="settings.flash" type="checkbox">
                  Turn on flashing to get <em>attention</em>!</label>
              </div>
            </div>
          </div>
          <div class="form-group" ng-show="settings.flash">
            <label class="control-label col-sm-3">Flashing Rate</label>
            <div class="col-sm-6 ui-slider-container">
              <div ui-slider min="12" max="900" ng-model="settings.flashRate"></div>
            </div>
            <p class="col-sm-1 form-control-static text-right">
              <strong>{{settings.flashRate}}</strong><span class="text-muted">/minute</span>
            </p>
            <div class="seizure-warning col-sm-offset-3 col-sm-6 text-center text-muted" ng-show="settings.flashRate > 180">
              <a class="text-muted" href="https://en.wikipedia.org/wiki/Photosensitive_epilepsy"><em>This may cause seizures — use at your own risk!</em></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="setting-section" ng-if="!self.display">
      <div class="container">
        <h2>Preview</h2>
        <div sign-display="settings" ng-click="self.display = true" ng-style="previewSize()" class="preview-container"></div>
      </div>
    </div>

  </div>
  <div class="content" ng-if="main.page == 'remote'" ng-controller="RemoteController">
    <div ng-show="remote.connecting">
      <div class="container">
        <div class="remote-connect text-center">
          <h2>Connecting to GoInstant...</h2>
          <p class="text-muted">Realtime platform powered by <a href="https://goinstant.com/">GoInstant</a></p>
        </div>
      </div>
    </div>
    <div ng-show="remote.connected">
      <div class="container">
        <div class="remote-connect text-center">
          <h2>Connected!</h2>
          <p class="text-muted">What next? You ask me? I don't know!</p>
        </div>
      </div>
    </div>
    <div ng-show="!remote.connected && !remote.connecting" ng-controller="RemoteConnectController">
      <div class="container">
        <div class="remote-connect">
          <p>When you joined a <em>remote</em> room,
            you can control other flashing signs in that same room.
            <strong>Enter a room ID to get started.</strong></p>
          <p>
            <input class="form-control room-id" type="text" placeholder="Room ID" ng-model="roomId">
          </p>
          <p>
            <button class="btn btn-block btn-success btn-lg" ng-click="joinRoom()">Join Room</button>
          </p>
          <p class="text-center text-muted">If the room ID does not exists,
            a blank room will be created for you,
            otherwise, you will join a room with that ID.</p>
        </div> </div>
    </div>
  </div>
</div>

<div ng-if="!!self.display" ng-click="self.display = false">
  <div sign-display="settings" class="the-sign"></div>
</div>

</div>

<%= javascript_include_tag "https://cdn.goinstant.net/v1/platform.min.js" %>
<%= javascript_include_tag "all" %>


