---
title: Flashing Sign
---

<div ng-app="sign" ng-controller="MainController" on-window-resize="onresize(width, height)">

<% Dir[File.join root, 'source', 'templates', '*.html'].each do |f| %>
  <%= ng_template File.basename('settings', '.html') %>
<% end %>

<div class="main" ng-show="!self.display">
  <ul class="tabs-bar">
    <li ng-class="{ active: main.page == 'settings' }"><a href="javascript://" ng-click="main.page = 'settings'">Settings</a></li>
    <li><a href="javascript://" ng-click="self.display = true">Display</a></li>
    <li ng-class="{ active: main.page == 'remote' }"><a href="javascript://" ng-click="main.page = 'remote'">Remote<span class="room-info" ng-if="remote.connected"> [{{remote.roomName}}]</span></a></li>
  </ul>
  <div class="content" ng-controller="SettingsController" ng-if="main.page == 'settings'">

    <ng-include src="'/templates/settings.html'"></ng-include>

  </div>
  <div class="content" ng-if="main.page == 'remote'" ng-controller="RemoteController">
    <div ng-if="remote.connected" ng-controller="RemoteSettingsController">

      <div class="client-thumbnails">

        <div class="container remote-instructions" ng-show="clients.length == 0">
          <h3 ng-bind-html="clientCountText()"></h3>
          <p ng-if="clients.count < 2">
            In other clients, go to the <em>Remote</em> tab and join the room <strong>{{remote.roomName}}</strong>
          </p>
          <p ng-if="clients.count >= 2">
            In the clients that you wish to use as a display, go to <em>Display</em> tab, then they will show up here.
          </p>
        </div>

        <div ng-repeat="client in clients"
            ng-class="{ 'client-thumbnail': true, 'active': target == client.id, 'displaying': client.settings.display }"
            ng-click="edit(client)">
          <div sign-display="client.settings" ng-style="clientPreviewSize(client)" class="client-preview-container"></div>
          <h3>{{client.id}}</h3>
          <span class="nub-container"><span class="nub"></span></span>
        </div>

      </div>

      <div ng-if="!!settings">
        <ng-include src="'/templates/settings.html'"></ng-include>
        <div class="setting-section" ng-if="!self.display">
          <div class="container save-button-container">
            <button class="btn btn-primary btn-lg btn-block" ng-click="save()">Save Settings</button>
          </div>
        </div>
      </div>

    </div>
    <div ng-show="remote.connecting">
      <div class="container">
        <div class="remote-connect text-center">
          <h2>Connecting to GoInstant...</h2>
          <p class="text-muted">Realtime platform powered by <a href="https://goinstant.com/">GoInstant</a></p>
        </div>
      </div>
    </div>
    <div ng-show="!remote.connected && !remote.connecting" ng-controller="RemoteConnectController">
      <div class="container">
        <form class="remote-connect" ng-submit="joinRoom()">
          <p>When you joined a <em>remote</em> room,
            you can control other flashing signs in that same room.
            <strong>Enter a room ID to get started.</strong></p>
          <p>
            <input class="form-control room-id" type="text" placeholder="Room ID" ng-model="roomId">
          </p>
          <p>
            <button type="submit" class="btn btn-block btn-success btn-lg">Join Room</button>
          </p>
          <p class="text-center text-muted">If the room ID does not exists,
            a blank room will be created for you,
            otherwise, you will join a room with that ID.</p>
        </form>
      </div>
    </div>
  </div>

  <div class="footer setting-section">
    <p>If you like this app, please tweet to vote for this application. Thanks!<br>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://ss14-team-161.divshot.io" data-text="Check out Flashing Sign by spacet.me" data-via="staticshowdown">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
    <p>Flashing Sign by Thai Pangsakulaynont</p>
  </div>

</div>

<div ng-if="!!self.display" ng-click="self.display = false">
  <div sign-display="settings" class="the-sign"></div>
</div>

</div>

<%= javascript_include_tag "https://cdn.goinstant.net/v1/platform.min.js" %>
<%= javascript_include_tag "all" %>


