---
title: Flashing Sign
---

<div ng-app="sign" ng-controller="MainController" on-window-resize="onresize(width, height)">

<% Dir[File.join root, 'source', 'templates', '*.html'].each do |f| %>
  <%= ng_template File.basename(f, '.html') %>
<% end %>

<div class="main" ng-show="!self.display">
  <ul class="tabs-bar">
    <li ng-class="{ active: main.page == 'settings' }"><a href="javascript://" ng-click="main.page = 'settings'">Settings</a></li>
    <li><a href="javascript://" ng-click="self.display = true">Display</a></li>
    <li ng-class="{ active: main.page == 'remote' }"><a href="javascript://" ng-click="main.page = 'remote'">Remote<span class="room-info" ng-if="remote.connected"> [{{remote.roomName}}]</span></a></li>
  </ul>
  <div class="content" ng-controller="SettingsController" ng-if="main.page == 'settings'">

    <ng-include src="'/templates/settings.html'"></ng-include>

    <div class="setting-section">
      <div class="container save-button-container">
        <button class="btn btn-primary btn-lg btn-block" ng-click="save()">Display It Now</button>
        <div class="text-center text-muted nudge">click anywhere to exit</div>
      </div>
    </div>

  </div>

  <div class="content" ng-if="main.page == 'remote'" ng-controller="RemoteController">
    <ng-include src="'/templates/remote.html'"></ng-include>
  </div>

  <div class="footer setting-section">
    <p>If you like this app, please tweet to vote for this application. Thanks!<br>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://ss14-team-161.divshot.io" data-text="Check out Flashing Sign by spacet.me" data-via="staticshowdown">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
    <p>Flashing Sign by Thai Pangsakulaynont</p>
  </div>

</div>

<div ng-if="!!self.display" ng-click="self.display = false">
  <div sign-display="settings" class="the-sign"></div>
</div>

</div>

<%= javascript_include_tag "https://cdn.goinstant.net/v1/platform.min.js" %>
<%= javascript_include_tag "all" %>


